/***

This is CSS Global variables. 
You can use it anywhere, just import this styles to index.js 
*/

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --common-blue: rgb(52, 120, 247);
    --translucent-blue: rgba(14, 14, 64, 0.1);
    --text: 'Roboto', sans-serif;
}

html, body {
    background-color: #ECEFF4;
}